{% load static %}
{% block main %}
<link rel="stylesheet" href="/static/css/registration.css">
<title>Registration</title>
<main>
  <section class="signUp">
    <form class="form" method="post">{% csrf_token %}
      <h2>Register</h2>
    <label>
      <h4>Username</h4>
      {{form.username}}
    </label>
    <label>
      <h4>Email</h4>
      {{form.email}}
    </label>
    <label>
      <h4>Phone number</h4>
      {{form.phone}}
    </label>
    <label class="id_is_admin" for="id_is_admin">
      <h4>Are you an admin?</h4>
      {{form.is_admin}}
    </label>
    <label>
      <h4>Password</h4>
      <span>Password must contain letters,numbers and special characters</span>
      {{form.password1}}
    </label>
    <label>
      <h4>Confirm password</h4>
      {{form.password2}}
    </label>
    <button class="formButton" type= "submit">Register</button>
    </form>
  </section>
</main>
{% endblock main %}
