/* detail.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/images/dog-11426.png') center/cover fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.details-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

.update-btn,
.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 4px;
}

.update-btn:hover,
.back-btn:hover {
    background-color: #45a049;
}
