
<!DOCTYPE html>
<html>
<head>
    <title>Добавить новость</title>
    <link rel="stylesheet" href="/static/css/detail.css">

</head>
<body>
    <div class="form-container">
        <a href="{% url 'home' %}" class="back-btn" > Назад на главную</a>

        <h2>Добавить новость</h2>

        <form method="post" enctype="multipart/form-data" {% if news_id %}action="{% url 'update_news' news_id %}"{% else %}action="{% url 'add_news' %}"{% endif %}>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
        </form>
    </div>
</body>
</html>