{% extends "header.html" %}
{% block main %}
<body>
    <h1>Список всех животных</h1>
    <!-- <form method="get" action="{% url 'search' %}">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
    </form> -->
    <a href="{% url 'home' %}" class="back-btn">Назад на главную</a>

    
    <ul>
        {% for animal in filter.qs %}

            <li>
                <a href="{% url 'dog_detail' animal.animal_id %}">

                {{ animal.name }} - {{ animal.breed }} - {{ animal.color }} 
            </li>
        {% endfor %}
    </ul>
    <style>

     ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    h1{
        text-align: center;
    }
    li {
        width: 30%;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    img {
        width: 80%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 5px;
    }

    .details-btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 20px;
        cursor: pointer;
    }

        .filter-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10px; /* регулируйте отступ сверху под фильтры */
        }

        .filter-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between; /* Распределение фильтров по горизонтали */
            gap: 10px; /* Пробел между элементами */

            margin-bottom: 20px; /* Регулируйте отступ между фильтрами */
        }


        .filter-btn, .reset-btn {
            display: inline-block;
            margin-top: 10px; /* Adjust as needed */
            padding: 10px;
            background-color: #4CAF50; /* Green color, you can change it */
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 20px;
        }

        .reset-btn {
            background-color: #f44336; /* Red color, you can change it */
        }
        body {
            margin: 0;
            padding: 0;
            background: url('/static/images/client-bg.jpg') center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>

<form method="get" class="filter-form" action="{% url 'dog_list' %}">
    <div class="filter-row">
        <div class="filter-row">
            Выберите тип животного
            <!-- {{ form.type_of_animal.label_tag }} -->
            {{ form.type_of_animal }}
        </div>
        <div class="filter-row">
            Возраст
            <!-- {{ form.age.label_tag }} -->
            {{ form.age }}
        </div>
        <div class="filter-row">
            Размер
            <!-- {{ form.size.label_tag }} -->
            {{ form.size }}
        </div>
        <div class="filter-row">
            Цвет
            <!-- {{ form.color.label_tag }} -->
            {{ form.color }}
        </div>
        <div class="filter-row">
            Характер
            <!-- {{form.temper.label_tag}} -->
            {{form.temper}}

        </div>
    </div>
    <button class="filter-btn" type="submit">Фильтровать</button>
    <a href="{% url 'dog_list' %}?reset=1" class="reset-btn">Сбросить фильтр</a>
</form>

<ul>
    {% for dog in animals %}
        <li>
            <strong>Имя:</strong> {{ dog.name }}<br>
            <strong>Пол:</strong> {{ dog.sex }}<br>
            <strong>Возраст:</strong> {{ dog.age }}<br>
            {% if dog.photo_base64 %}
            <strong>Фото:</strong> <img src="data:image/png;base64,{{ dog.photo_base64 }}" alt="{{ dog.name }} photo" width="100"><br>
            {% else %}
                <p>No photo available</p>
            {% endif %}
            <a href="{% url 'dog_detail' dog.animal_id %}" class="details-btn">Узнай меня ближе!</a>
            {% if user.is_admin%}
            <a href="{% url 'update_dog' dog.animal_id %}" class="details-btn">Изменить данные</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

</body>

{% endblock main %}
