<body>
    <h1>Список всех животных</h1>
    <link rel="stylesheet" type="text/css" href="/static/css/dog_list.css" />

    <!-- <form method="get" action="{% url 'search' %}">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
    </form> -->
       
        <a href="{% url 'home' %}" class="filter-btn" > Назад на главную</a>

    <ul>
        {% for animal in filter.qs %}

            <li>
                <a href="{% url 'dog_detail' animal.animal_id %}">

                {{ animal.name }} - {{ animal.breed }} - {{ animal.color }} 
            </li>
        {% endfor %}
    </ul>
</head>
<body>

<form method="get" class="filter-form" action="{% url 'dog_list' %}">
    <div class="filter-row">
        <div class="filter-row">
            Выберите тип животного
            <!-- {{ form.type_of_animal.label_tag }} -->
            {{ form.type_of_animal }}
        </div>
        <div class="filter-row">
            Возраст
            <!-- {{ form.age.label_tag }} -->
            {{ form.age }}
        </div>
        <div class="filter-row">
            Размер
            <!-- {{ form.size.label_tag }} -->
            {{ form.size }}
        </div>
        <div class="filter-row">
            Цвет
            <!-- {{ form.color.label_tag }} -->
            {{ form.color }}
        </div>
        <div class="filter-row">
            Характер
            <!-- {{form.temper.label_tag}} -->
            {{form.temper}}

        </div>
    </div>
    <button class="filter-btn" type="submit">Фильтровать</button>
    <a href="{% url 'dog_list' %}?reset=1" class="reset-btn">Сбросить фильтр</a>
</form>

<ul>
    {% for dog in animals %}
        <li class="dog-item">
            <div class="dog-image">
                {% if dog.photo_base64 %}
                    <a href="{% url 'dog_detail' dog.animal_id %}">
                        <img src="data:image/png;base64,{{ dog.photo_base64 }}" alt="{{ dog.name }} photo" width="300px">
                        <div class="overlay">
                            <p>{{ dog.name }}</p>
                            <p>Пол: {{ dog.sex }},Возраст: {{ dog.age }}</p>
                        </div>
                    </a>
                {% else %}
                    <p>No photo available</p>
                {% endif %}
            </div>
            <div class="dog-details">
                <!-- <strong>Имя:</strong> {{ dog.name }}<br>
                <strong>Пол:</strong> {{ dog.sex }}<br>
                <strong>Возраст:</strong> {{ dog.age }}<br> -->
                <a href="{% url 'dog_detail' dog.animal_id %}" class="details-btn">Узнай меня ближе!</a>
                {% if user.is_admin %}
                    <a href="{% url 'update_dog' dog.animal_id %}" class="details-btn">Изменить данные</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
    <!-- {% for dog in animals %}
        <li>
            <strong>Имя:</strong> {{ dog.name }}<br>
            <strong>Пол:</strong> {{ dog.sex }}<br>
            <strong>Возраст:</strong> {{ dog.age }}<br>
            {% if dog.photo_base64 %}
            <strong>Фото:</strong> <img src="data:image/png;base64,{{ dog.photo_base64 }}" alt="{{ dog.name }} photo" width=350px"><br>
            {% else %}
                <p>No photo available</p>
            {% endif %}
            <a href="{% url 'dog_detail' dog.animal_id %}" class="details-btn">Узнай меня ближе!</a>
            {% if user.is_admin%}
            <a href="{% url 'update_dog' dog.animal_id %}" class="details-btn">Изменить данные</a>
            {% endif %}
        </li>
    {% endfor %} -->
</ul>

</body>

