<!DOCTYPE html>
{% load static %}

<html>
{% block content %}

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Animal Care</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="index.html">
        </a>
        <div class="" id="">
          <div class="User_option">
            <form class="form-inline my-2  mb-3 mb-lg-0">
              <input type="search" placeholder="Search">
              <button class="btn   my-sm-0 nav_search-btn" type="submit"></button>
            </form>
          </div>

          <div class="custom_menu-btn">
            <button onclick="openNav()">
              <span class="s-1">

              </span>
              <span class="s-2">

              </span>
              <span class="s-3">

              </span>
            </button>
          </div>
          <div id="myNav" class="overlay">
            <div class="overlay-content">
              <a href="{% url 'home' %}">Главная</a>
              <a href="about.html">О нас</a>
              <a href="#info_section">Связаться с нами</a>
              {% if user.is_admin %}
              <a href="{% url 'add_dog' %}">Добавить животное в базу данных</a>

              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  {% block main %} {% endblock main %}
  <section id="info_section" class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="info_contact">
            <h5>
              КОНТАКТЫ
            </h5>
            <div>
              <img src="static/images/call.png" alt="" />
              <p>
                +996 553 451 567
              </p>
            </div>
            <div>
              <img src="static/images/mail.png" alt="" />
              <p>
                animalshelter@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_time">
            <h5>
              ВРЕМЯ РАБОТЫ
            </h5>
            <div>
              <p>
                Понедельник - Пятница
              </p>
            </div>
            <div>
              <p>
                С 09:00 до 18:00
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="info_social">
            <h5>
              Мы в соцсетях
            </h5>
            <div class="social_container">
              <div>
                <a href="">
                  <img src="static/images/fb.png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="static/images/twitter.png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="static/images/linkedin.png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="static/images/instagram.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_form pl-lg-4">
            <h5>
              РАССЫЛКА
            </h5>
            <form action="">
              <input type="text" placeholder="Введите ваш Email" />
              <button type="submit">
                Подписаться на рассылку
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->



  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>
  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width")
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    }
  </script>
  {% endblock %}
</html>