<!DOCTYPE html>
<html>
{% load static %}

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Animal Care</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area ">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
          </a>
          <div class="" id="">
            <div class="User_option">
              <!-- <form class="form-inline my-2  mb-3 mb-lg-0">
                <input type="search" placeholder="Search">
                <button class="btn   my-sm-0 nav_search-btn" type="submit"></button>
              </form> -->
            </div>

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="{% url 'home' %}">Главная</a>
                <a href="about.html">О нас</a>
                <a href="#info_section">Связаться с нами</a>
                <a href="{% url 'login' %}">Войти</a>

                {% if user.is_admin %}
                <a href="{% url 'add_dog' %}">Добавить животное в базу данных</a>
                <a href="{% url 'add_news' %}">Добавить новости в базу данных</a>
                <a href="{% url 'adoption_requests' %}">Просмотреть все заявки</a>
                <a href="{% url 'signup' %}">Зарегистрировать администратора</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for news in news_items %}
              <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
          {% endfor %}
      </ol>
      
          <div class="carousel-inner">
              {% for news in news_items %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-md-5 offset-md-1">
                                  <div class="detail-box">
                                      <div class="number">
                                          <h5>{{ forloop.counter|add:"0" }}</h5>
                                      </div>
                                      <h1>{{ news.title }}<br>
                                          <span>{{ news.title1 }}</span>
                                      </h1>
                                      <p>{{ news.description }}</p>
                                      <div class="btn-box">
                                          <a href="{% url 'news_detail' news.news_id %}" class="btn-1">Узнать больше</a>
                                          <!-- Assuming you have a news_detail view for detailed news -->
                                          <!-- <a href="" class="btn-2">Contact Us</a> -->
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="img-box">
                                      <!-- You may need to adjust the image source based on your model -->
                                      <img src="data:image/png;base64,{{ news.photo_base64 }}" alt="{{ news.title }} photo" width="80%">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
  </section>
 
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="detail-box">
        <div class="heading_container">
          <h2>
              О нас    
          </h2>
        </div>
        <p>
          Наш приют осуществляет свою деятельность на благотворительные пожертвования людей из разных уголков нашей страны. Благодаря этой поддерж
          ке мы оплачиваем аренду помещения, закупаем корма и необходимые лекарственные препараты,
           оплачиваем операции, а также организуем и проводим благотворительные акции и просветительские мероприятия.

          Каждый из вас может помочь нашим подопечным и подарить им немного заботы, любви и теплоты.
        </p>
        <div class="btn-box">
          <a href="">
            <span>
              Узнать больше
            </span>
            <img src="static/images/link-arrow.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- animal section -->

  <section class="animal_section layout_padding">
    <div class="container">
      <div class="animal_container">
        <div class="box b1">
          <div class="img-box">
            <a href="{% url 'dog_list' %}">
              <img src="static/images/dogcat.jpg" alt="">

            </a>
          </div>
          <div class="detail-box">
            <h5>
              Наши прекрасные животные
            </h5>
            <p>
              Нажмите чтобы познакомиться поближе
            </p>
          </div>
        </div>
        <!-- <div class="box b2">
          <div class="img-box">
            <img src="static/images/cat.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Наши милые кошки
            </h5>
            <p>
              Нажмите чтобы познакомиться поближе
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <!-- end animal section -->

  <!-- pet section -->

  <section class="pet_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="static/images/pet-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <img src="static/images/heading-img.png" alt="">
              <h2>
                Ежедневно
                мы оказываем помощь бездомным животным              </h2>
            </div>
            <p>
              Мы стараемся подходить к своей работе профессионально: в нашем Центре есть карантинные зоны, 
              где мы выявляем болезни вновь поступивших животных; есть зона стационара, так же у нас есть операционная
               и послеоперационная зона. С собаками приюта занимается кинолог.
               Ежедневно наши двери открыты для гостей центра, чтобы помочь с выгулом подопечных собак.            </p>
            <div class="btn-box">
              <a href="">
                <span>
                      Узнать больше                </span>
                <img src="static/images/link-arrow.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end pet section -->

  <!-- us section -->

  <section class="us_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <img src="static/images/heading-img.png" alt="">
        <h2>Почему стоит выбрать нас?        </h2>
        <p>
          Мы стараемся окружить любовью и заботой всех наших подопечных. В нашем приюте все животные находятся под присмотром
          опытных ветеринаров и получают питательную пищу.
        </p>
      </div>
      <div class="us_container">
        <div class="box">
          <div class="img1-box">
            <img src="/static/images/dog-11391.png" width="250px">
          </div>
          <div class="img2-box">
            <img src="/static/images/omega.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Качественное питание
            </h6>
          </div>
        </div>
        <div class="box">
          <div class="img1-box">
            <img src="/static/images/dog-11429.png" width="350px">
          </div>
          <div class="img2-box">
            <img src="static/images/dog.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Счастливые животные
            </h6>
          </div>
        </div>
        <div class="box">
          <div class="img1-box">
            <img src="/static/images/dog-11367.png" alt="">
          </div>
          <div class="img2-box">
            <img src="static/images/shield.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Успешное принятие в семью
            </h6>
          </div>
        </div>
      </div>
      <!-- <div class="btn-box">
        <a href="">
          <span>
            Узнать больше
          </span>
          <img src="static/images/link-arrow.png" alt="">
        </a>
      </div> -->
    </div>
  </section>

  <!-- end us section -->

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <img src="static/images/heading-img.png" alt="">
        <h2>
          Корм для животных
        </h2>
        <p>
          У нас Вы можете приобрести корм для кошек или собак от наших партнеров.
        </p>
      </div>
      <div class="food_container">
        <div class="box">
          <div class="img-box">
            <img src="static/images/catfood.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Meow Mix
            </h6>
            <h3>
              <span>KGS</span>2000
            </h3>
            <a href="">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="static/images/felix-cat-food.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Felix
            </h6>
            <h3>
              <span>KGS</span>35
            </h3>
            <a href="">
              Buy Now

            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="static/images/pedigree.jpg" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Pedigree
            </h6>
            <h3>
              <span>KGS</span>1000
            </h3>
            <a href="">
              Buy Now

            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end food section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <img src="static/images/heading-img.png" alt="">
        <h2>
          Счастливые истории
        </h2>
        <p>
          Более 1703 кошек и собак уже нашли свой дом благодаря проекту «Друг для друга». Мы рады поделиться счастливыми историями некоторых из них. Вместе мы делаем мир лучше!        </p>
      </div>
      <!-- Reviews Carousel -->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for review in review_list %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="box">
                        <div class="img-box">
                            <img src="data:image/png;base64,{{ review.photo_base64 }}" alt="{{ review.name }} photo" width="80%">
                        </div>
                        <div class="detail-box">
                            <h4>{{ review.name }}</h4>
                            <p>{{ review.review }}</p>
                            <img src="{% static 'images/quote.png' %}" alt="">
                            {% if user.is_admin %}
                              <a href="{% url 'delete_review' review.id %}" class="btn btn-danger">Удалить отзыв</a>
                            {% endif%}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="carousel_btn-box">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
      <br>
        <h3>Поделитесь своей историей!</h3>
        <form method="post" enctype="multipart/form-data" action="{% url 'add_review' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить отзыв</button>
        </form>
    
        <!-- {% for error in form.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %} -->

      <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="box">
              <div class="img-box">
                <img src="static/images/client.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Jack Mengo
                </h4>
                <p>
                  It is a long established fact that a reader will be distracted by the readable cIt is a long established fact that a reader will be distracted by the readable c
                </p>
                <img src="static/images/quote.png" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="img-box">
                <img src="static/images/client.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Jack Mengo
                </h4>
                <p>
                  It is a long established fact that a reader will be distracted by the readable cIt is a long established fact that a reader will be distracted by the readable c
                </p>
                <img src="static/images/quote.png" alt="">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="box">
              <div class="img-box">
                <img src="static/images/client.png" alt="">
              </div>
              <div class="detail-box">
                <h4>
                  Jack Mengo
                </h4>
                <p>
                  It is a long established fact that a reader will be distracted by the readable cIt is a long established fact that a reader will be distracted by the readable c
                </p>
                <img src="static/images/quote.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div> -->
  </section>

  <!-- end client section -->

  <!-- contact section -->

  <section class="contact_section layout_padding-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="form_container">
            <div class="heading_container">
              <img src="static/images/heading-img.png" alt="">
              <h2>
                Вас заинтересовал кто-то из наших пушистых друзей?
              </h2>
              <p>
                Оставьте ваши контакты и наши коллеги свяжутся с Вами и проконсультируют насчет того,
                как можно взять к себе выбранного Вами животного!
              </p>
            </div>
            <h2>Заявка на усыновление</h2>
              <form method="post" action="{% url 'home' %}"> 
                  {% csrf_token %}
                  {{ adoptform.as_p }}
                  <button type="submit">Взять питомца</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- info section -->
  <section id="info_section" class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="info_contact">
            <h5>
              КОНТАКТЫ
            </h5>
            <div>
              <img src="static/images/call.png" alt="" />
              <p>
                +996 553 451 567
              </p>
            </div>
            <div>
              <img src="static/images/mail.png" alt="" />
              <p>
                animalshelter@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_time">
            <h5>
              ВРЕМЯ РАБОТЫ
            </h5>
            <div>
              <p>
                Понедельник - Пятница
              </p>
            </div>
            <div>
              <p>
                С 09:00 до 18:00
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="info_social">
            <h5>
              Мы в соцсетях
            </h5>
            <div class="social_container">
              <div>
                <a href="">
                  <img src="static/images/fb.png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="static/images/twitter.png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="static/images/linkedin.png" alt="" />
                </a>
              </div>
              <div>
                <a href="">
                  <img src="static/images/instagram.png" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="info_form pl-lg-4">
            <h5>
              РАССЫЛКА
            </h5>
            <form action="">
              <input type="text" placeholder="Введите ваш Email" />
              <button type="submit">
                Подписаться на рассылку
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->



  <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.js"></script>
  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width")
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    }
  </script>

</body>

</html>