<!-- dog_detail.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/news_detail.css">
    <title>{{ news.title }} </title>
</head>
<body>

<div class="details-container">

  <h1>Подробнее о новости</h1>
  <ul>
    <li><strong>Заголовок:</strong> {{ news.title }}</li>
    <li><strong>Заголовок2:</strong> {{ news.title1 }}</li>
    <li><strong>Описание:</strong> {{ news.description }}</li>

    {% if news.photo_base64 %}
    <strong>Фото:</strong> <img src="data:image/png;base64,{{ news.photo_base64 }}" alt="{{ news.name }} photo" width="50%"><br>
    {% else %}
        <p>No photo available</p>
    {% endif %}
  </ul>
  {% if user.is_admin %}
    <a href="{% url 'update_news' news.news_id %}" class="update-btn">Обновить новость</a>
    <a href="{% url 'delete_news' news.news_id %}" class="delete-btn">Удалить новость</a>
  {% endif %}
  <a href="{% url 'home' %}" class="back-btn">Назад на главную</a>

</div>

</body>
</html>

<!-- dog_detail.html
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <title>{{ news.title }} Details</title>
</head>
<body>

  <h1>{{ news.title }} Details</h1>
  <ul>
    <li><strong>Заголовок:</strong> {{ news.title }}</li>
    <li><strong>Заголовок2:</strong> {{ news.title1 }}</li>
    <li><strong>Описание:</strong> {{ news.description }}</li>

    {% if news.photo_base64 %}
    <strong>Фото:</strong> <img src="data:image/png;base64,{{ news.photo_base64 }}" alt="{{ news.name }} photo" width="50%"><br>
    {% else %}
        <p>No photo available</p>
    {% endif %}
  </ul>
  {% if user.is_admin %}
  <a href="{% url 'update_news' news.news_id %}" class="update-btn">Обновить новость</a>
  {% endif %}
  <a href="{% url 'home' %}" class="back-btn">Назад на главную</a>

</body>
</html> -->